@charset "UTF-8";
//////////////////////获取测试div////////////////////
@mixin getTestDiv($w,$h,$color) {
  width: $w;
  height: $w;
  background-color: $color;
  word-break: keep-all;
}

@mixin innerCenter() {
  //display: -webkit-box;
  //-webkit-box-pack: center;
  //-webkit-box-align: center;

  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

@mixin getTestDiv-100($color) {
  @include getTestDiv(100px, 100px, $color);
}

@mixin getTestDiv-200($color) {
  @include getTestDiv(200px, 200px, $color);
}

@mixin getTestDiv-400($color) {
  @include getTestDiv(400px, 400px, $color);
}

@mixin getTestDiv-600($color) {
  @include getTestDiv(600px, 600px, $color);
}

///////////////////自定义字体/////////////////
@mixin setFont($font_url,$use_name) {
  @font-face {
    font-family: $use_name;
    src: $font_url;
  }
}

//卡片
@mixin card($color:rgba(68, 237, 249, .6)) {
  //border: 5px solid #222222;
  border-left: 10px solid #222222;
  padding: 10px;
  background: $color;
  box-shadow: 1px 1px 10px #BFBFBF;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}